<div class="main_container">
  <h2>MEMBER REGISTRATION</h2>
  <form
    [formGroup]="profileForm"
    (ngSubmit)="updateProfile()"
    class="profile_container"
  >
    <div class="container_body">
      <div class="container_body_fields">
        <div class="name">
          <mat-form-field appearance="outline">
            <mat-label>Firstname</mat-label>
            <input
              type="text"
              matInput
              formControlName="firstName"
              [(ngModel)]="userDetails.firstName"
              placeholder="firstname"
            />
            <!-- <mat-error
                    app-error-validation
                    [control]="profileForm.get('firstName')"
                ></mat-error> -->
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Lastname</mat-label>
            <input
              type="text"
              matInput
              formControlName="lastName"
              [(ngModel)]="userDetails.lastName"
              placeholder="lastname"
            />
            <!-- <mat-error
                    app-error-validation
                    [control]="profileForm.get('lastName')"
                ></mat-error> -->
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            type="text"
            matInput
            formControlName="email"
            [(ngModel)]="userDetails.email"
            placeholder="email"
          />
          <mat-error *ngIf="profileForm.get('email').hasError('pattern')">
            Invalid Email Address.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Phone number</mat-label>
          <input
            type="text"
            matInput
            formControlName="phoneNumber"
            [(ngModel)]="userDetails.phoneNumber"
            placeholder="phonenumber"
          />
          <!-- <mat-error
                      app-error-validation
                      [control]="profileForm.get('lastName')"
                  ></mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Name of the college</mat-label>
          <input
            type="text"
            matInput
            formControlName="education"
            [(ngModel)]="userDetails.education"
            placeholder="Name of the college"
          />
          <!-- <mat-error
                      app-error-validation
                      [control]="profileForm.get('email')"
                  ></mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Department</mat-label>
          <input
            type="text"
            matInput
            formControlName="department"
            [(ngModel)]="userDetails.department"
            placeholder="Department"
          />
          <!-- <mat-error
                        app-error-validation
                        [control]="profileForm.get('email')"
                    ></mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Job Title</mat-label>
          <input
            type="text"
            matInput
            formControlName="jobTitle"
            [(ngModel)]="userDetails.jobTitle"
            placeholder="Job Title"
          />
          <!-- <mat-error
                        app-error-validation
                        [control]="profileForm.get('email')"
                    ></mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>About You</mat-label>
          <textarea
          cols="6"
          rows="6"
            type="text"
            matInput
            formControlName="about"
            [(ngModel)]="userDetails.about"
            placeholder="Describe you!"
          ></textarea>
          <!-- <mat-error
                        app-error-validation
                        [control]="profileForm.get('email')"
                    ></mat-error> -->
        </mat-form-field>
      </div>
    </div>
    <div class="container_footer">
      <button
        type="submit"
        mat-raised-button
        class="button-large"
        color="primary"
        [disabled]="profileForm.invalid"
      >
        SAVE
      </button>
    </div>
  </form>
</div>
