.main_container{
    // width: 600px;
    // margin: 80px auto;
    ::ng-deep .mat-toolbar{
        background-color: #282733;
      }
    .heading{
        padding: 50px;
        margin: 20px 0;
        background-color: #572b40;
        color: white;
    }
    .container_body{
        .container_body_fields{
            display: flex;
            flex-direction: column;
            .name{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .mat-form-field{
                    width: 280px;
                }
            }
        }
    }
    .container_footer{
        text-align: right;
    }
}