<div class="login_container">
  <app-navigation-bar [isHideLogo]="isHideLogo"></app-navigation-bar>
  <div class="login">
    <lib-login></lib-login>
    <!--<img src="../assets/images/ioak-logo.svg" />
    <div class="login_fields">
      <form
        *ngIf="!isForgotPassword"
        [formGroup]="loginForm"
        (ngSubmit)="signIn()"
      >
        <input
          class="login-form__input"
          type="text"
          formControlName="email"
          [(ngModel)]="login.email"
          placeholder="email"
        />
        <mat-error *ngIf="loginForm.get('email').hasError('pattern')">
          Invalid Email Address.
        </mat-error>
        <input
          class="login-form__input"
          type="password"
          formControlName="password"
          [(ngModel)]="login.password"
          placeholder="password"
        />
        <span class="forgot_password_link"><a (click)="openforgotPwd()">Forgot password?</a></span>
        <span *ngIf="errorMessage" class="error">*{{ errorMessage }}</span>
        <button
          type="submit"
          class="login-form__button"
          color="primary"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </form>
      <form
        *ngIf="isForgotPassword"
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="reset()"
      >
        <input
          class="login-form__input"
          type="text"
          formControlName="email"
          [(ngModel)]="forgotPasswordEmail"
          placeholder="email"
        />
        <span *ngIf="errorMessage" class="error">*{{ errorMessage }}</span>
        <button
          type="submit"
          class="login-form__button"
          color="primary"
          [disabled]="forgotPasswordForm.invalid"
        >
          Submit
        </button>
      </form>
    </div>-->
  </div>
</div>
