<div class="login_container">
  <div class="login">
    <!-- <div class="login_header">
    <span
      ><mat-icon style="float: right; cursor: pointer" *ngIf="data?.title" (click)="close()"
        >close</mat-icon
      ></span>
      <button mat-raised-button>LOGIN</button>
  </div> -->
    <div class="login_fields">
      <form [formGroup]="loginForm" (ngSubmit)="signIn()">
        <!-- <mat-label>Email</mat-label> -->
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            type="text"
            formControlName="email"
            matInput
            [(ngModel)]="login.email"
          />
          <mat-error *ngIf="loginForm.get('email').hasError('pattern')">
            Invalid Email Address.
          </mat-error>
        </mat-form-field>
        <!-- <mat-label>Password</mat-label> -->
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            type="password"
            formControlName="password"
            matInput
            [(ngModel)]="login.password"
          />
        </mat-form-field>
        <span><a routerLink="/register">New user? Register</a></span>
        <button
          type="submit"
          class="loginButton"
          color="primary"
          mat-raised-button
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</div>
