.mat-toolbar {
  background-color: #282733;
  background-color: #00000020;
  height: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    background-color: white;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 16px;
  }
  img {
    height: 30px;
  }
}

.menu {
  // position: absolute;
  // right: 30px;
  color: white;
}
.login {
  width: 35px;
}
