<mat-toolbar>
  <img *ngIf="isHideLogo" src="../assets/images/ioak-logo.svg" />
  <div class="menu">
    <!-- <a routerLink="/register" routerLinkActive="active" mat-button>Register</a> -->
    <a routerLink="/member-list" mat-button>Home</a>
    <!-- <a routerLink="/dashboard" mat-button>Dashboard</a> -->
  </div>
  <div
    *ngIf="!loggedInUser"
    mat-raised-button
    routerLink="/login"
    class="login"
  >
    <img src="../../assets/images/user.png" />
  </div>
  <span *ngIf="loggedInUser" mat-button [matMenuTriggerFor]="menu">{{
    name
  }}</span>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="editProfile()">Edit profile</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
