.mat-toolbar {
  background-color: #282733;
  background-color: #00000020;
  height: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    border-radius: 32px;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    width: 32px;
    text-align: center;
    line-height: 32px;
    height: 32px;
    cursor: pointer;
    min-width: 32px;
    min-height: 32px;
  }
  img {
    height: 30px;
  }
  .avatar_image{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
  }
}

.menu {
  // position: absolute;
  // right: 30px;
  color: white;
}
.login {
  border-radius: 32px;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  width: 32px;
  text-align: center;
  line-height: 32px;
  height: 32px;
  cursor: pointer;
  min-width: 32px;
  min-height: 32px;
  img{
    border-radius: 50%;
    height: 30px;
    border: 1px solid white;
  }
}
