<div class="resources-container">
    <app-navigation-bar></app-navigation-bar>
    <div class="content">
        <div class="settings-content">
            <div class="left-section">
                <mat-list role="list">
                    <mat-list-item role="listitem" (click)="changeActivePage('tutorials')"
                        [ngClass]="{ active: activePage === 'tutorials' }">Tutorials</mat-list-item>
                    <mat-list-item role="listitem" (click)="changeActivePage('bookmarks')"
                        [ngClass]="{ active: activePage === 'bookmarks' }">Bookmarks</mat-list-item>
                </mat-list>
            </div>
            <div class="right-section">
                <app-tutorials *ngIf="activePage === 'tutorials'"></app-tutorials>
                <app-bookmarks *ngIf="activePage === 'bookmarks'"></app-bookmarks>
            </div>
        </div>
    </div>
</div>