.resources-container {
  background-color: #f6f6f6;
  min-height: 100vh;
  .content {
    margin: auto;
    max-width: 1200px;
    color: #ccc;
    @media only screen and (max-width: 960px) {
      max-width: 100%;
      margin: auto;
    }
    h3 {
      font-size: 18px;
      color: #333;
    }
    .resources-content {
      display: grid;
      grid-template-columns: minmax(auto, 320px) auto;
      gap: 20px;
      padding: 20px 0;
      @media only screen and (max-width: 960px) {
        display: flex;
        flex-direction: column;
        padding: 0 0 20px 0;
        gap: 20px;
      }
      .left-section,
      .right-section {
        background-color: white;
        border-radius: 6px;
        min-height: calc(100vh - 78px - 44px);
        @media only screen and (max-width: 960px) {
          min-height: auto;
        }
      }
      .left-section {
        mat-list-item {
          font-size: 14px;
          height: 54px;
          &:hover {
            cursor: pointer;
            background-color: #ddd;
          }
          &.active {
            background-color: #eee;
          }
          .mat-icon {
            margin: 0 8px 0 0;
          }
        }
        :host ::ng-deep .mat-list-item-content {
          display: grid !important;
          grid-template-columns: 30px auto;
          padding: 12px 24px !important;
          color: #333;
        }
        .mat-icon {
          color: #333;
        }
      }
      .right-section {
        padding: 16px;
        @media only screen and (max-width: 960px) {
          padding: 8px;
        }
      }
    }
  }
}
