<div class="login_container">
  <app-navigation-bar></app-navigation-bar>
  <div class="login">
    <h2>Change Password</h2>
    <div class="login_fields">
      <form [formGroup]="changePasswordForm" (ngSubmit)="reset()">
        <input
          class="login-form__input"
          type="password"
          formControlName="newPassword"
          [(ngModel)]="changePassword.newPassword"
          placeholder="new password"
        />
        <input
          class="login-form__input"
          type="text"
          formControlName="confirmPassword"
          [(ngModel)]="changePassword.confirmPassword"
          placeholder="confirm password"
        />
        <span *ngIf="errorMessage" class="error">*{{ errorMessage }}</span>
        <button
          type="submit"
          class="login-form__button"
          color="primary"
          [disabled]="changePasswordForm.invalid"
        >
          Change Password
        </button>
      </form>
    </div>
  </div>
</div>
