.mat-toolbar{
    background-color: #282733;
    height: 80px;
    display: flex;
    justify-content: space-between;
    span{
        color: white;
    }
}

.menu{
    // position: absolute;
    // right: 30px;
    color: white;
}
.login{
    border: 2px solid #b0b0b0;
    background-color: #282733;
    color: white;
    &:hover{
        border: 2px solid #ffffff;
        background-color: #3d3d3d;
        color: white;
    }
}
.footer{
    padding: 30px;
    height: 250px;
    background-color: #ea3d56;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    .coptright{
        border-top: 1px solid white;
    }
}