.container {
  margin: 35px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 35px;
  flex-wrap: wrap;
  padding-bottom: 35px;
  margin-bottom: 0;
  
  .mat-card{
      min-width: 250px;
      max-height: 400px;
      border-radius: 8px;
      img{
        height: 160px;
      }
  }
  .avatar{
    // position: relative;
    display: flex;
    justify-content: center;
    bottom: 60px;
    cursor: pointer;
    margin: 50px 0;
    img{
        height: 90px;
        width: 90px;
        border-radius: 50%;
    }
  }
.name{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .mat-card-subtitle{
        font-size: 18px;
    }
}
.tools{
    display: flex;
    gap: 15px;
    justify-content: center;
    span{
        padding: 5px 8px;
        color: white;
        border-radius: 15%;
        img{
            height: 25px;
            width: 25px;
        }
        &:nth-child(1){
            background-color: #4fc8ff;
        }
        &:nth-child(2){
            background-color: #ffc107;
        }
        &:nth-child(3){
            background-color: #975dfd;
        }
        &:nth-child(4){
            background-color: #39e9d9;
        }
    }
}
}


.members-section__main__tile {
    width: 200px;
    padding: 20px;
    background-color: #fff;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 32px;
    border-radius: 6px;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: flex-start;
    // box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
}

.members-section__main__tile__label__name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    margin-top: 24px;
}
.members-section__main__tile__label__role {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1;
    margin-top: 4px;
    color: var(--color-primary);
    font-weight: 400;
}

.members-section__main__tile__img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}