<div class="container">
  <div class="container_header">
    <h1>Members Directory</h1>
  </div>
  <div class="search_box">
    <mat-form-field appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        (keyup)="applySearch($event)"
        placeholder="Search members..."
        #input
        [(ngModel)]="searchText"
      />
    </mat-form-field>
  </div>
  <div class="container_middle">
    <div class="members">
      <p>All Members</p>
      <span class="circle">{{membersList?.length}}</span>
    </div>
    <div class="dropdown">
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="selectedStatus" (ngModelChange)="onStatusSelection()">
          <mat-option *ngFor="let status of statusArray" [value]="status.value">
            {{ status.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-icon>settings_input_component</mat-icon>
  </div>

  <div class="mat-card_list">
    <app-members
    [membersList]="filteredMembersList"
    ></app-members>
  </div>
</div>


