.profile_container {
  background-color: #f6f6f6;
  .container_header {
    // padding: 30px;
    height: 50vh;
    // background-color: #fd507e;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(111.3deg, rgba(74, 105, 187, .9) 9.6%, rgba(216, 68, 148, .4) 103.3%), url(/assets/images/hero.svg);;
    background-image: linear-gradient(111.3deg, rgba(187, 74, 166, 0.6) 9.6%, rgba(58, 102, 223, 0.4) 103.3%), url(/assets/images/hero.svg);    
    background-image: linear-gradient(111.3deg, rgba(155, 167, 95, 0.6) 9.6%, rgba(188, 99, 89, 0.4) 103.3%), url(/assets/images/hero.svg);    
    // background-image: linear-gradient(111.3deg, rgba(187, 74, 166, 0.2) 9.6%, rgba(58, 102, 223, 0.2) 103.3%), url(/assets/images/hero.jpg); 
    color: #fff;
    display: grid;
    grid-template-rows: auto 1fr;
    // justify-content: center;
    align-items: center;

    h1 {
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      letter-spacing: 2px;
    }
  }
  .profile_background {
    background-color: #00000099;
    opacity: 0.6;
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }
  //   .profile_image {
  .avatar {
    position: absolute;
    display: flex;
    justify-content: left;
    top: 150px;
    left: 100px;
    align-items: center;
    grid-gap: 35px;
    gap: 35px;

    h2 {
      color: white;
      font-weight: 500;
      margin: 0px;
    }
    img {
      height: 180px;
      width: 180px;
      border-radius: 50%;
      border: 10px solid white;
    }
    .status {
      padding: 5px 10px;
      background-color: orangered;
      color: white;
      border-radius: 20px;
    }
  }
  //   }
  .container_section {
    padding: 20px 150px;
    background-color: white;
    display: flex;
    align-items: flex-end;
    gap: 10px;
  }
  .info_section {
    margin: 50px 150px 0 150px;
    display: grid;
    // grid-template-columns: 1fr 450px;
    .info_left_section {
      margin: 20px 5px;
      .info {
        background-color: white;
        border-radius: 5px;
        box-shadow: 1px 2px 3px #0000000a;
        .info_header {
          display: flex;
          align-items: flex-end;
          gap: 15px;
          border-bottom: 1px solid #f6f6f6;
          padding: 20px 50px;
        }
        .info_details {
          padding: 20px 50px;
          display: grid;
          grid-template-columns: 200px 1fr;
          color: #919191;
          font-size: 15px;
          h3 {
            min-width: 80px;
            font-weight: 500;
          }
        }
      }
      .detail {
        background-color: white;
        margin-top: 50px;
        border-radius: 5px;
        box-shadow: 1px 2px 3px #0000000a;
        .detail_header {
          display: flex;
          align-items: flex-end;
          gap: 15px;
          border-bottom: 1px solid #f6f6f6;
          padding: 20px 50px;
        }
        .detail_details {
          padding: 20px 50px;
          display: flex;
          flex-direction: column;
          grid-gap: 50px;
          .details_section {
            display: grid;
            color: #919191;
            font-size: 15px;
            grid-template-columns: 200px 1fr;
            h3 {
              min-width: 80px;
              font-weight: 500;
            }
          }
        }
      }
    }
    .info_right_section {
      margin: 20px 25px;
      .signin {
        display: flex;
        flex-direction: column;
        padding: 10px;
        color: white;
        background-image: url(../../assets/images/geopattern.png),
          -webkit-linear-gradient(right, #24c6dc, #514a9d);
        a {
          font-weight: 700;
          padding: 20px 30px;
          color: white;
        }
        mat-icon {
          margin: 0 10px;
        }
      }
      .media {
        padding: 10px;
        margin-top: 30px;
        background-color: white;
        color: gray;
        .media_heading {
          display: flex;
          flex-direction: row;
          grid-gap: 20px;
          border-bottom: 1px solid #0000001f;
          padding: 10px;
          color: #919191;
          align-items: flex-start;
          span {
            border-radius: 50%;
            background-color: #0000001f;
            padding: 5px;
          }
        }
        .media_content {
          display: flex;
          flex-direction: row;
          grid-gap: 25px;
          justify-content: space-evenly;
          margin-top: 10px;
          span {
            grid-gap: 5px;
            padding: 20px;
            cursor: pointer;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
          }
          .active {
            background-color: #ea3d56;
            color: white;
            border-radius: 4px;
          }
        }
      }
      .right_members {
        background-color: white;
        border-radius: 5px;
        box-shadow: 1px 2px 3px #0000000a;
        height: fit-content;
        margin-top: 30px;
        h3 {
          padding: 10px;
          border-bottom: 1px solid #0000001f;
          color: #919191;
        }
        .member_list {
          display: flex;
          grid-gap: 15px;
          flex-wrap: wrap;
          justify-content: space-evenly;
          .members {
            img {
              height: 80px;
              width: 80px;
              border-radius: 50%;
              border: 10px solid white;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
.overlay {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 180px;
  height: 80px;
  background-color: rgb(0 0 0 / 60%);
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  border-bottom: 0;
  bottom: 12px;
  left: 10px;
  mat-icon {
    color: white;
  }
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
}
